// 全局样式

.btn-icon {
  font-size: 10px;
}

.el-btn-red {
  color: #FA6962 !important;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }
}

// 顶部进度条颜色
#nprogress .bar {
  background: rgba($color: #409EFF, $alpha: 0.8);
}

// 处理移动端组件兼容性
@media screen and (max-width: $device-phone){
  * {
    cursor: default !important;
  }

  .el-col2 {
    margin-top: 15px;
  }
}

*::-webkit-scrollbar {
  width: 6px !important;
  height: 8px !important;
}

*::-webkit-scrollbar-thumb {
  width: 6px !important;
  height: 8px !important;
  border-radius: 10px !important;
  background-color: rgba($color: #888, $alpha: 0.18) !important;
}
//给固定列设置下边距
* .el-table {
  .el-table__fixed {
    height:auto !important;
    bottom:8px !important; //具体值是多少根据你横向滚动条的高度进行设置
  }
  //去掉固定列下方的横线
  .el-table__fixed::before, .el-table__fixed-right::before {
    display:none;
  }
}
